<!DOCTYPE html>
<html>
  <%- include layouts/login %>

  <body>

  <h2><center> Sign Up </center></h2>

  <form action="/signup" method="POST">

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Sign Up</button>
      <a href="/">Owned a profile already? Back to log in</a>
    </div>

  </form>

  </body>
  </html>
