
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/topics/edit/<%=data.id%>" method="post">
        Edit Topic Name:<br>
        <input type="text" name="name_topic" value="<%=data.name_topic %>">
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
